<div class="container-fluid">
    <div class="mx-3 row">
        <div class="col-12 col-md-9 col-lg-8">
            <div class="mt-3">
                <h1 class="mb-0 text-center text-md-start ms-md-0">Marcos Tadeo Rosales</h1>
                <div class="fs-3 text-center text-md-start ms-md-0">Curriculum Vitae</div>

                <ul class="mt-2">
                    <h5 class="mb-0">Datos</h5>
                    <li>DNI: 44754339</li>
                    <li>CUIL: 20-44754339-8</li>
                </ul>
                <ul>
                    <h5 class="mb-0">Contacto</h5>
                    <li><i class="bi bi-telephone-fill" style="margin-right: 0.5rem;"></i><span>+54 9 388
                            473-8558</span></li>
                    <li><i class="bi bi-envelope-fill"
                            style="margin-right: 0.5rem;"></i><span>marcostadeorosales@gmail.com</span></li>
                </ul>

                <div class="text-center text-md-start">Sitio alojado en <a
                        href="https://marcosros.github.io/CurriculumVitae/">marcosros.github.io/CurriculumVitae/</a>
                </div>


            </div>
        </div>
        <div class="col-3 col-md-3 col-lg-3 offset-lg-1 d-none d-md-block text-center mt-5">
            <img src="assets/Perfil.jpg" class="rounded-circle img-fluid" alt="Foto Marcos Rosales" />
        </div>
    </div>

    <hr class="my-4">

    <div class="m-3">
        <h3 class="mb-4">Sobre Mi</h3>
        <p>Mi nombre es Marcos Tadeo Rosales soy un Técnico Informático,
            Analista programador Universitario y estudiante de la carrera de
            Ingeniería Informática en la Facultad de Ingeniería - UNJu.</p>

        <p>Poseo Conocimiento y un buen desempeño en múltiples lenguajes, tales como Java,
            C++, C#, Python y otros lenguajes orientados al Desarrollo Web, siendo los mismos
            Javascript, Typescript, HTML y CSS.
            Diestro en el uso de Frameworks (SpringBoot, Angular, React, Next.js) y con el desarrollo y consumo de APIs.</p>

        <p>Destaco con un gran manejo del Inglés, contando con un
            certificado de haber rendido y aprobado un nivel B2 en un Exámen
            de la Universidad de Cambridge.</p>

        <p>Me adapto muy bien a la hora de trabajar en equipo.
            Cuento con múltiples proyectos realizados junto con compañeros a lo largo de mi cursada
            de la carrera de APU, y durante mi Pasantía y Actual empleo en el Ministerio Publico de la Acusación</p>
    </div>

    <hr class="my-4">

    <div class="row d-flex justify-content-center">
        <div class="col-2 col-lg-1 col-xl-1"><img src="assets/JavaScript.png" class="img-fluid"></div>
        <div class="col-2 col-lg-1 col-xl-1"><img src="assets/React.png" class="img-fluid"></div>
        <div class="col-2 col-lg-1 col-xl-1"><img src="assets/Angular.png" class="img-fluid"></div>
        <div class="col-2 col-lg-1 col-xl-1"><img src="assets/nodejs.webp" class="img-fluid"></div>
        <div class="col-12 d-lg-none"></div>
        <div class="col-2 col-lg-1 col-xl-1"><img src="assets/python.png" class="img-fluid"></div>
        <div class="col-2 col-lg-1 col-xl-1"><img src="assets/C++.png" class="img-fluid"></div>
        <div class="col-2 col-lg-1 col-xl-1"><img src="assets/java.webp" class="img-fluid"></div>
    </div>


    <div class="m-3">
        <h3 class="mb-4">Habilidades</h3>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item" style="width: 100%;">Trabajo en equipo</li>
            <li class="list-group-item" style="min-width: 7rem;">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item" style="width: 100%;">Responsabilidad</li>
            <li class="list-group-item" style="min-width: 7rem;">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item" style="width: 100%;">Organización</li>
            <li class="list-group-item" style="min-width: 7rem;">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item" style="width: 100%;">Adaptabilidad</li>
            <li class="list-group-item" style="min-width: 7rem;">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item" style="width: 100%;">Creatividad</li>
            <li class="list-group-item" style="min-width: 7rem;">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </li>
        </ul>
    </div>

    <hr class="my-4">

    <div class="m-3">
        <h3 class="mb-4">Formacion Profesional</h3>

        <div class="table-responsive mt-4">
            <table class="table">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">Titulo</th>
                        <th scope="col">Promedio</th>
                        <th scope="col">Lugar de Cursada</th>
                        <th scope="col">Años de Cursada</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tecnico Informático</td>
                        <td>8.78/10</td>
                        <td>Escuela de Minas "Dr. Horacio Carrillo</td>
                        <td>2016-2021</td>
                    </tr>
                    <tr>
                        <td>Analista Programador Universitario</td>
                        <td>8.47/10</td>
                        <td>Facultad de Ingenieria - UNJu</td>
                        <td>2021-2022</td>
                    </tr>
                    <tr>
                        <td>Ingeniería Informática</td>
                        <td>-</td>
                        <td>Facultad de Ingenieria - UNJu</td>
                        <td>2023-Actualidad</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr class="my-4">

    <div class="m-3">
        <h3 class="mb-4">Experiencia</h3>
        <p>A lo largo de mis estudios y durante mi Pasantía en el MPA, realice multiples proyectos,
            tanto solo como colaborativamente. A continuacion se listaran algunos de los proyectos
            públicos mas importantes:</p>
        <div class="table-responsive mt-4">
            <table class="table">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">Proyecto</th>
                        <th scope="col">Tecnologias empleadas</th>
                        <th scope="col">Año</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Servidor de Relacion de palabras mediante Inteligencia Artificial
                        </td>
                        <td>Python, Flask, BERT</td>
                        <td>2025</td>
                    </tr>
                    <tr>
                        <td>
                            Servidor de Identificacion de Huellas Dactilares
                        </td>
                        <td>C++, Boost, SecuGen SDK, SecuSearch Pro 3 SDK</td>
                        <td>2025</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://gestion.mpajujuy.gob.ar">Sistema de Gestion Interna MPA</a>
                        </td>
                        <td>React, Nodejs, Javascript</td>
                        <td>2024 - Actualidad</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://denuncias.mpajujuy.gob.ar">Sistema de Denuncias</a>
                        </td>
                        <td>React, Nodejs, Javascript</td>
                        <td>2024</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://recuperos.mpajujuy.gob.ar">Sistema de Recupero de objetos sustraidos</a>
                        </td>
                        <td>Angular, Typescript, Nodejs, PHP, MYSQL</td>
                        <td>2023</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/koritacrah/GestorDeAnunciosFullStack">Gestor de Anuncios
                                FullStack</a>
                        </td>
                        <td>MongoDB, Express, Angular, Nodejs, Javascript, HTML, CSS, Bootstrap</td>
                        <td>2022</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/MarcosRos/TPFinal-LPOOI">
                                Sistema Gestor para una Optica</a>
                        </td>
                        <td>.NET, C#, Windows Forms, SQL Server</td>
                        <td>2022</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/MarcosRos/TpFinal-LPOOII">
                                Sistema Gestor para una muebleria</a>
                        </td>
                        <td>.NET, C#, WPF, SQL Server</td>
                        <td>2022</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/MarcosRos/GestorDeMaquinarias">
                                Sistema Gestor de Maquinarias</a>
                        </td>
                        <td>.NET, C#, Windows Forms, SQL Server</td>
                        <td>2022</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/MarcosRos/TPFinal-BenitezCondoriFloresRosales">
                                Sistema Gestor para un Restaurante</a>
                        </td>
                        <td>Java, MySQL</td>
                        <td>2021</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/MarcosRos/TpFinal_PV2021_Grupo6">
                                Sistema de creacion y valoracion de Puntos de Interes</a>
                        </td>
                        <td>Java, SpringBoot, MySQL, HTML, CSS, Bootstrap</td>
                        <td>2021</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive mt-4">
            <table class="table ">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">Empleador</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Tecnologias empleadas</th>
                        <th scope="col">Fechas de Inicio y Fin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Ministerio Público de la Acusación
                        </td>
                        <td>Programador</td>
                        <td>React, Nodejs, Python, C++, MySQL, Docker</td>
                        <td>02/2024 - Actualidad</td>
                    </tr>
                    <tr>
                        <td>
                            Ministerio Público de la Acusación
                        </td>
                        <td>Pasante Programador</td>
                        <td>Angular, React, Next.js, Nodejs, PHP, Python, MySQL, Docker</td>
                        <td>02/2023 - 02/2024</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr class="my-4">

    <div class="m-3">
        <h3 class="mb-4">Idiomas</h3>
        <div class="table-responsive mt-4">
            <table class="table">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">Idioma</th>
                        <th scope="col">Estudios</th>
                        <th scope="col">Nivel</th>
                        <th scope="col">Certificacion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Español</td>
                        <td>Lengua Natal</td>
                        <td>Nativo</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Inglés</td>
                        <td>13 años en Instituto Privado</td>
                        <td>B2</td>
                        <td>Universidad de Cambridge</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>